body {
    background:#fff;
}
.tag:not(body){
    font-size:.60rem;

}
.hero-body{
    padding: .5rem;
}

/* PAGINATION */

 .pagi {
  margin-top:5px;

 }
  .pagi a, b {
   background:#f4f4f4;
   padding: 10px;
   border-radius: 3px;
}

/* CARD */
.card {
    margin-bottom:15px;
  /*  -webkit-box-shadow: 0 1px 2px rgba(10,10,10,.1);
    -moz-box-shadow: 0 1px 2px rgba(10,10,10,.1);
    box-shadow: 0 1px 2px rgba(10,10,10,.1);
     margin-bottom:15px;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius:8px;

}

.card-header {
       -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom:1px solid #f4f4f4;
}
    .card-header-title{
        padding:.5rem;
        font-weight: 400;

    }
    .card-content {
        padding:.5rem;
        /*border-bottom:1px solid #f4f4f4;*/
    }

/* GLOBALS */
.mar-r-5 {
	margin-right:5px;
}

.borderless td, .borderless th {
    border: none;
}

._actyTitle {
    text-decoration: none;
    font-size: 18px;
}

#mceu_11.mce-tinymce {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* jBox theme: TooltipDark */
.jBox-TooltipDark .jBox-container {
  border-radius: 3px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

/* Pointer */
.jBox-content {
  padding: 8px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity .2s;
}

/* jBox Tooltip */

.jBox-Tooltip .jBox-container,
.jBox-Mouse .jBox-container {
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

.jBox-Tooltip .jBox-title,
.jBox-Mouse .jBox-title {
  padding: 8px 10px 0;
  font-weight: bold;
}


.jBox-Mouse {
  pointer-events: none;
}

/* Pointer */

.jBox-pointer {
  position: absolute;
  overflow: hidden;
}

.jBox-pointer-top { top: 0; }
.jBox-pointer-bottom { bottom: 0; }
.jBox-pointer-left { left: 0; }
.jBox-pointer-right { right: 0; }

.jBox-pointer-top,
.jBox-pointer-bottom {
  width: 30px;
  height: 12px;
}

.jBox-pointer-left,
.jBox-pointer-right {
  width: 12px;
  height: 30px;
}

.jBox-pointer:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: #fff;
  transform: rotate(45deg);
}

.jBox-pointer-top:after {
  left: 5px;
  top: 6px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, .15);
}

.jBox-pointer-right:after {
  top: 5px;
  right: 6px;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, .15);
}

.jBox-pointer-bottom:after {
  left: 5px;
  bottom: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
}

.jBox-pointer-left:after {
  top: 5px;
  left: 6px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .15);
}


.jBox-TooltipDark .jBox-pointer:after {
  background: #000;
}

/* Close button */

.jBox-TooltipDark .jBox-closeButton {
  background: #000;
}

.jBox-TooltipDark.jBox-closeButton-box:before {
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton path {
  fill: #000;
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton:hover path {
  fill: #000;
}

.jBox-TooltipDark.jBox-closeButton-box .jBox-closeButton:active path {
  fill: #000;
}

/* END OF TOOLTIP DARK */

/*.table td {
  border:none; 
}
*/
#topics tr:nth-child(even) td {
  background-color:#FFF5F7;
}

/*table tr:nth-of-type(4n) td {
    border-bottom: 3px solid #f00;
}*/



/*.table tr:hover { 
   background: #f4f4f4; 
}*/

