pre {
	max-width:100%;
	background-color: #D7D7D7;
	border-left: 1px solid #00D1B2;
}

.table td, .table th {
	padding:5px;
}

.table tr.is-selected {
	background: #FF3860; 
	color: #fff;
}

.table tr.is-answered {
 background: #00D1B2;  /* fallback for old browsers */


	color: #000;
}

.section {
	padding: 1rem 1.5rem;
}

.hero-body{
    padding: 1.5rem;
}

.table {
	margin-bottom: .5rem;
}

.log {
	border-color:#f4f4f4;
}
/*
.chart-container {
	width:  80%;
	height: 480px;
	margin: 0 auto;
}
*/